In [1]:
a = [1, 32, 5]

In [2]:
tuple(a)

(1, 32, 5)

In [3]:
import pandas as pd

train_data = pd.read_csv('data/train_data_with_samplefeatures.csv')

In [5]:
train_data['winner_id'][0] == 6

False

In [24]:
import pandas as pd

# Create a sample DataFrame with 'date' and 'run' columns
data = {
    'date': pd.date_range(start='2023-01-01', periods=10, freq='D')[::-1],
    'run': [50, 10, 20, 15, 6, 15, 40, 23, 22, 31]
}
df = pd.DataFrame(data)

# Ensure the DataFrame is sorted in descending order by 'date'
df = df.sort_values(by='date', ascending=False)
# print(df)
# Reverse the 'run' series to apply EMA from the end
reversed_run = df['run'].reverse

# Calculate the EMA
# reversed_ema = reversed_run.ewm(span=10, adjust=True).sum()
reversed_ema = df['run'].ewm(span=10, adjust=True).sum().iloc[-1]

# Reverse the EMA series back to the original order
# df['EMA'] = reversed_ema#[::-1]

# Display the DataFrame
print(reversed_ema)

AttributeError: 'Series' object has no attribute 'reverse'

In [19]:
df

        date  run
0 2023-01-10   50
1 2023-01-09   10
2 2023-01-08   20
3 2023-01-07   15
4 2023-01-06    6
5 2023-01-05   15
6 2023-01-04   40
7 2023-01-03   23
8 2023-01-02   22
9 2023-01-01   31

In [21]:
import pandas as pd

df = pd.read_csv('data/bowler_level_scorecard.csv')

df['match_dt'] = pd.to_datetime(df['match_dt'])

# df.set_index('match_dt', inplace=True)

# # Resample to 6 months and 1 year, then count the matches
# six_months = df.groupby('bowler_id').resample('6M').size()
# one_year = df.groupby('bowler_id').resample('1Y').size()

# # Reset the index to have a tidy DataFrame
# six_months = six_months.reset_index(name='matches_6m')
# one_year = one_year.reset_index(name='matches_1y')

# # Average matches per player in 6 months
# avg_matches_6m = six_months.groupby('bowler_id')['matches_6m'].mean().reset_index(name='avg_matches_6m')

# # Average matches per player in 1 year
# avg_matches_1y = one_year.groupby('bowler_id')['matches_1y'].mean().reset_index(name='avg_matches_1y')

# # Combine the results
# avg_matches = pd.merge(avg_matches_6m, avg_matches_1y, on='bowler_id')
# print(avg_matches)

In [26]:
# Filter the DataFrame for matches that occurred in 2022
df_2022 = df[df['match_dt'].dt.year == 2022]

# Group by 'player_id' and count the number of matches
matches_2022 = df_2022.groupby('bowler_id').size().reset_index(name='matches_2022')

print(matches_2022)

     bowler_id  matches_2022
0      34061.0            12
1      37351.0             1
2      41740.0             1
3      49496.0             6
4      55299.0            17
..         ...           ...
987  9373202.0             3
988  9373209.0             1
989  9373335.0             2
990  9377969.0             1
991  9382967.0             1

[992 rows x 2 columns]

In [27]:
matches_2022['matches_2022'].describe()

count    992.000000
mean       5.792339
std        6.212615
min        1.000000
25%        2.000000
50%        3.000000
75%        8.000000
max       45.000000
Name: matches_2022, dtype: float64

In [17]:
import pandas as pd

df = pd.read_csv('data/match_level_scorecard.csv')

In [18]:
df['match_dt'] = pd.to_datetime(df['match_dt'])
df = df[df['match_dt'].dt.year == 2021]

In [19]:
# Count the number of matches each team played
team1_counts = df['team1_id'].value_counts()
team2_counts = df['team2_id'].value_counts()

# Combine the counts for each team
total_counts = team1_counts.add(team2_counts, fill_value=0).astype(int)

# Calculate the average number of matches played
average_matches = total_counts.mean()

# Calculate the median number of matches played
median_matches = total_counts.median()

In [20]:
total_counts.describe()

count    131.000000
mean      11.312977
std        4.525286
min        1.000000
25%        8.500000
50%       10.000000
75%       14.000000
max       26.000000
Name: count, dtype: float64

In [5]:
team1_counts.head()

team1_id
55      38
62      29
48      28
8056    24
7727    23
Name: count, dtype: int64

In [6]:
total_counts

20       47
27       41
34       42
41       44
48       45
         ..
48936     9
48943     8
48950     8
49650     7
49657     8
Name: count, Length: 174, dtype: int64

In [3]:
average_matches, median_matches

(19.413793103448278, 16.5)

In [7]:
total_counts.mode()

0    11
Name: count, dtype: int64

In [72]:
a = df['team1_id'].to_list()

In [73]:
b = df['team2_id'].to_list()

In [74]:
type(a)

list

In [75]:
a.extend(b)

In [76]:
print(len(a))

3378

In [77]:
c = set(a)

In [78]:
len(c)

174

In [50]:
len(df['team1_id'])

1689

In [79]:
1689/174

9.706896551724139

In [12]:
import pandas as pd

# Sample data
data = [1, 2, 3, 4, 5]
df = pd.DataFrame(data, columns=['value'])

# Define the halflife
halflife = 5

# Calculate the exponentially weighted moving sum with the specified halflife
ewm_sum = df['value'].ewm(halflife=halflife).sum()

print(ewm_sum)

0     1.000000
1     2.870551
2     5.498959
3     8.787122
4    12.649634
Name: value, dtype: float64

In [19]:
import pandas as pd

data = {'values': [10, 50]}
df = pd.DataFrame(data)

# Applying EWM with halflife=5
ewm_sum = df['values'].ewm(halflife=1, adjust=True).sum()
print(ewm_sum)

0    10.0
1    55.0
Name: values, dtype: float64

In [13]:
import pandas as pd
from itertools import combinations
from sklearn.metrics import jaccard_score

df = pd.read_csv('data/match_level_scorecard.csv')
df['match_dt'] = pd.to_datetime(df['match_dt'])
df = df[df['match_dt'].dt.year == 2022]

# Function to calculate Jaccard similarity between two sets
def jaccard_similarity(list1, list2):
    set1, set2 = set(list1), set(list2)
    intersection = len(set1 & set2)
    union = len(set1 | set2)
    return intersection / union if union != 0 else 0

# Process the dataframe
def process_team_rosters(df):
    team_variations = {}

    for team_id in pd.concat([df['team1_id'], df['team2_id']]).unique():
        team_matches = df[(df['team1_id'] == team_id) | (df['team2_id'] == team_id)]

        # Extract the roster for each match
        rosters = []
        for idx, row in team_matches.iterrows():
            if row['team1_id'] == team_id:
                rosters.append(row['team1_roster_ids'].split(':'))
            elif row['team2_id'] == team_id:
                rosters.append(row['team2_roster_ids'].split(':'))

        # Calculate pairwise Jaccard similarity for all matches
        if len(rosters) > 1:
            similarities = []
            for roster1, roster2 in combinations(rosters, 2):
                similarity = jaccard_similarity(roster1, roster2)
                similarities.append(similarity)
            team_variations[team_id] = sum(similarities) / len(similarities)
        else:
            team_variations[team_id] = 1.0  # If only one match, similarity is 1

    # Calculate the average similarity across all teams
    average_similarity = sum(team_variations.values()) / len(team_variations)
    return average_similarity

# Calculate the average team composition similarity
average_similarity = process_team_rosters(df)
print(f"The average team composition similarity is {average_similarity:.2f}")

# Output: The average team composition similarity is 0.72

The average team composition similarity is 0.67

In [13]:
import pandas as pd

matches = pd.read_csv('data/match_level_scorecard.csv')
# matches['match_dt'] = pd.to_datetime(matches['match_dt'])
# matches = matches[matches['match_dt'].dt.year == 2021]

# Concatenating team1_id and team2_id to represent each match combination
matches['match_combination'] = matches.apply(lambda x: tuple(sorted([x['team1_id'], x['team2_id']])), axis=1)

# Group by each team and count the number of unique opponents
team1_opponents = matches.groupby('team1_id')['match_combination'].nunique()
team2_opponents = matches.groupby('team2_id')['match_combination'].nunique()

# Combine the counts from both teams
total_opponents = team1_opponents.add(team2_opponents, fill_value=0)

# Calculate the average number of opponents for each team
average_opponents = total_opponents.describe()

print("Average number of times a team plays with the same opponent:", average_opponents)

Average number of times a team plays with the same opponent: count    174.000000
mean      10.689655
std        4.865379
min        1.000000
25%        8.000000
50%       10.000000
75%       14.000000
max       23.000000
Name: match_combination, dtype: float64

In [11]:
import pandas as pd

matches = pd.read_csv('data/match_level_scorecard.csv')
matches['match_dt'] = pd.to_datetime(matches['match_dt'])
matches = matches[matches['match_dt'].dt.year == 2023]

# Create a DataFrame to count matches for each team-opponent combination
matches_team1 = matches[['team1_id', 'team2_id']]
matches_team2 = matches[['team2_id', 'team1_id']]
matches_team1.columns = ['team_id', 'opponent_id']
matches_team2.columns = ['team_id', 'opponent_id']
all_matches = pd.concat([matches_team1, matches_team2])

# Calculate the total number of matches played by each team
total_matches_per_team = all_matches.groupby('team_id').size()

# Calculate the number of matches played by each team against each opponent
matches_count = all_matches.groupby(['team_id', 'opponent_id']).size().reset_index(name='matches_count')

# Find the maximum number of matches played against a single opponent for each team
max_matches_per_team = matches_count.groupby('team_id')['matches_count'].max()

# Calculate the ratio for each team
ratios = max_matches_per_team / total_matches_per_team

# Calculate the average of these ratios
average_ratio = ratios.mean()

print("Average ratio:", average_ratio)

Average ratio: 0.4120833823039705

In [6]:
ratios.describe()

count    131.000000
mean       0.235011
std        0.143019
min        0.090909
25%        0.153846
50%        0.200000
75%        0.272727
max        1.000000
dtype: float64

In [9]:
import pandas as pd

matches = pd.read_csv('data/match_level_scorecard.csv')
matches['match_dt'] = pd.to_datetime(matches['match_dt'])
matches = matches[matches['match_dt'].dt.year == 2023]

def compute_team_ratio(matches, team_id_column, opponent_id_column):
    team_matches = matches.groupby([team_id_column, opponent_id_column]).size().reset_index(name='matches_count')
    max_matches_per_team = team_matches.groupby(team_id_column)['matches_count'].max()
    total_matches_per_team = matches.groupby(team_id_column).size()
    return (max_matches_per_team / total_matches_per_team).mean()

# Compute the ratio for both team1_id and team2_id
ratio_team1 = compute_team_ratio(matches, 'team1_id', 'team2_id')
ratio_team2 = compute_team_ratio(matches, 'team2_id', 'team1_id')

# Calculate the overall average ratio
average_ratio = (ratio_team1 + ratio_team2) / 2

print("Average ratio:", average_ratio)

Average ratio: 0.5315638177561768

In [12]:
import pandas as pd

matches = pd.read_csv('data/match_level_scorecard.csv')

# Creating a helper function to compute the average number of times a team plays with the same opponent
def compute_avg_matches_against_opponent(matches, team_id_column, opponent_id_column):
    team_matches = matches.groupby([team_id_column, opponent_id_column]).size().reset_index(name='matches_count')
    avg_matches_per_team = team_matches.groupby(team_id_column)['matches_count'].mean()
    return avg_matches_per_team.mean()

# Compute the average number of times a team plays with the same opponent for both team1_id and team2_id
avg_matches_team1 = compute_avg_matches_against_opponent(matches, 'team1_id', 'team2_id')
avg_matches_team2 = compute_avg_matches_against_opponent(matches, 'team2_id', 'team1_id')

# Calculate the overall average
overall_avg_matches = (avg_matches_team1 + avg_matches_team2) / 2

print("Average number of times a team plays with the same opponent:", overall_avg_matches)

Average number of times a team plays with the same opponent: 1.7312002702213356

In [10]:
import pandas as pd
from collections import defaultdict
from itertools import combinations

df = pd.read_csv('data/match_level_scorecard.csv')

In [8]:
matches['series_name'].unique().size

NameError: name 'matches' is not defined

In [11]:
def jaccard_similarity(list1, list2):
    set1, set2 = set(list1), set(list2)
    intersection = len(set1.intersection(set2))
    union = len(set1.union(set2))
    return intersection / union if union != 0 else 0

In [12]:
# Extract relevant columns including 'series_name'
df_series_relevant = df[['series_name', 'team1_id', 'team2_id', 'team1_roster_ids', 'team2_roster_ids']]

# Convert roster IDs from string to list of player IDs
df_series_relevant['team1_roster_ids'] = df_series_relevant['team1_roster_ids'].apply(lambda x: x.split(':'))
df_series_relevant['team2_roster_ids'] = df_series_relevant['team2_roster_ids'].apply(lambda x: x.split(':'))

# Ensure player IDs are in the same format (e.g., strings) for consistency
df_series_relevant['team1_roster_ids'] = df_series_relevant['team1_roster_ids'].apply(lambda x: list(map(str, x)))
df_series_relevant['team2_roster_ids'] = df_series_relevant['team2_roster_ids'].apply(lambda x: list(map(str, x)))

# Group matches by series and calculate Jaccard similarity for each team
series_similarity_results = []

for series, group in df_series_relevant.groupby('series_name'):
    series_pairs_rosters = defaultdict(lambda: {'team1': [], 'team2': []})
    
    for _, row in group.iterrows():
        pair = tuple(sorted([row['team1_id'], row['team2_id']]))
        if row['team1_id'] == pair[0]:
            series_pairs_rosters[pair]['team1'].append(row['team1_roster_ids'])
            series_pairs_rosters[pair]['team2'].append(row['team2_roster_ids'])
        else:
            series_pairs_rosters[pair]['team1'].append(row['team2_roster_ids'])
            series_pairs_rosters[pair]['team2'].append(row['team1_roster_ids'])
    
    team1_similarities = []
    team2_similarities = []
    
    for pair, rosters in series_pairs_rosters.items():
        team1_similarities.extend([jaccard_similarity(r1, r2) for r1, r2 in combinations(rosters['team1'], 2)])
        team2_similarities.extend([jaccard_similarity(r1, r2) for r1, r2 in combinations(rosters['team2'], 2)])
    
    avg_team1_similarity = sum(team1_similarities) / len(team1_similarities) if team1_similarities else 0
    avg_team2_similarity = sum(team2_similarities) / len(team2_similarities) if team2_similarities else 0
    
    series_similarity_results.append({
        'series_name': series,
        'avg_team1_similarity': avg_team1_similarity,
        'avg_team2_similarity': avg_team2_similarity
    })

# Convert results to DataFrame for easy viewing
series_similarity_df = pd.DataFrame(series_similarity_results)
series_similarity_df['average_similarity'] = series_similarity_df[['avg_team1_similarity', 'avg_team2_similarity']].mean(axis=1)
series_similarity_df = series_similarity_df.sort_values(by='average_similarity', ascending=False)
series_similarity_df

/var/folders/y9/_3j91y_j5_sb6xs2vpf3h9840000gn/T/ipykernel_89069/3443763967.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_series_relevant['team1_roster_ids'] = df_series_relevant['team1_roster_ids'].apply(lambda x: x.split(':'))
/var/folders/y9/_3j91y_j5_sb6xs2vpf3h9840000gn/T/ipykernel_89069/3443763967.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_series_relevant['team2_roster_ids'] = df_series_relevant['team2_roster_ids'].apply(lambda x: x.split(':'))
/var/folders/y9/_3j91y_j5_sb6xs2vpf3h9840000gn/T/ipykernel_89069/3443763967.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_series_relevant['team1_roster_ids'] = df_series_relevant['team1_roster_ids'].apply(lambda x: list(map(str, x)))
/var/folders/y9/_3j91y_j5_sb6xs2vpf3h9840000gn/T/ipykernel_89069/3443763967.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_series_relevant['team2_roster_ids'] = df_series_relevant['team2_roster_ids'].apply(lambda x: list(map(str, x)))

,series_name,avg_team1_similarity,avg_team2_similarity,average_similarity
64,Nw Zd tr of Id,0.888889,1.000000,0.944444
45,Id tr of Ud Ss of Aa ad Wt Is,0.833333,1.000000,0.916667
26,Di Cs tr of Ud Ab Es,1.000000,0.833333,0.916667
3,Aa tr of Nw Zd,0.900000,0.883333,0.891667
103,Si La tr of Wt Is,0.888889,0.888889,0.888889
...,...,...,...,...
71,Pb Ks tr of Ud Ab Es,0.000000,0.000000,0.000000
75,Pn tr of Ca,0.000000,0.000000,0.000000
80,Pn tr of Wt Is,0.000000,0.000000,0.000000
83,Qa Gs tr of Ud Ab Es,0.000000,0.000000,0.000000
73,Pn tr of Aa,0.000000,0.000000,0.000000

In [13]:
series_similarity_df.describe()

       avg_team1_similarity  avg_team2_similarity  average_similarity
count            126.000000            126.000000          126.000000
mean               0.388353              0.409932            0.399142
std                0.324821              0.344361            0.328686
min                0.000000              0.000000            0.000000
25%                0.000000              0.000000            0.000000
50%                0.425370              0.445819            0.460740
75%                0.690653              0.698603            0.699695
max                1.000000              1.000000            0.944444

In [19]:
import pandas as pd
from collections import defaultdict
from itertools import combinations

df = pd.read_csv('data/test_data_with_samplefeatures.csv')

In [20]:
df2 = pd.read_csv('processed_data/test_data_processed7.csv')

In [21]:
match_id = df['match id']
df2['match id'] = match_id

In [22]:
df2.to_csv('test_data_processed7_f.csv', index=False)

In [1]:
import pandas as pd
from collections import defaultdict
from itertools import combinations

df = pd.read_csv('data/train_data_with_samplefeatures.csv')

In [2]:
df['lighting'].unique()

array(['day/night match', 'day match', 'night match'], dtype=object)